<h4>Новый комментарий</h4>
<div class="form-group">
  <label for="commentTitle">Заголовок</label>
  <input
    type="text"
    class="form-control"
    id="commentTitle"
    [(ngModel)]="title">
</div>
<div class="form-group">
  <label for="commentText">Коментарий</label>
  <textarea
    class="form-control"
    id="commentText"
    [(ngModel)]="text"
  ></textarea>
</div>
<div class="form-group">
  Рейтинг: <ngb-rating [(rate)]="rating" max="5" [readonly]="false"></ngb-rating>
</div>
<button
  type="button"
  class="btn btn-primary"
  (click)="addComment()"
>Опубликовать</button>
