<div class="modal-header">
  <h4 class="modal-title">Оставить предложение</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <input type="email" name="email" class="form-control text-modal" placeholder="E-mail" [(ngModel)]="email">
  </div>
  <div class="form-group">
    <label for="feature_description">Опишите желаемый функционал ниже:</label>
    <textarea style="width:100%; height: 100px;" rows="7" cols="150" type="text" name="feature_description" id="feature_description"
              class="form-control text-settings"
              [(ngModel)]="text"></textarea>
  </div>
  Нажимая кнопку "Отправить сообщение", вы соглашаетесь с <a class="blue-link" href="/assets/docs/privacy.pdf">политикой конфиденциальности сайта</a>
  <div class="form-group">
    <button type="button" (click)="sendFeature()" class="btn btn-main" [disabled]="btnDisabled">Отправить сообщение</button>
  </div>
</div>
