<div class="profilepos">
    <h4>Мои заказы</h4>
</div>
<div *ngIf="orders.length === 0">
  <div class="text-center">
    <h5>У вас еще нет заказов</h5>
    <img height="100px" src="assets/img/box.svg" />
  </div>
</div>
<ul *ngIf="orders.length !== 0" class="list-group">
  <li
    class="list-group-item"
    *ngFor="let order of orders"
  >
    <img [src]="order.good.picture">
    <h4><a routerLink="/good/{{order.good._id}}">{{ order.good.name }}</a></h4>
    <p>Кол-во: {{ order.quantity | fixedFloat: 0 }}</p>
    <p>Цена: {{order.price * order.quantity}} ₽</p>
  </li>
</ul>
