<div class="modal-header">
  <h4 class="modal-title">Вход</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <input type="text" name="phone" mask='+9-999-999-99-99' class="form-control text-modal" placeholder="Телефон" [(ngModel)]="phone">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control text-modal" placeholder="Пароль" [(ngModel)]="password">
  </div>
  <div class="form-group">
    <button type="button" (click)="login()" class="btn btn-main" [disabled]="btnDisabled">Войти</button>
  </div>
</div>
