.text-modal {
    background: #FFFFFF;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    width: 100%;
    padding-bottom: 5px;
    text-indent: 3px;
    height: 31px;
}

.text-modal::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #dddddd;
    opacity: 1;
    /* Firefox */
}

.text-modal:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #dddddd;
}

.text-modal::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #dddddd;
}
