<div class="container">
  <ngx-spinner
    bdColor="rgba(255,255,255,0.8)"
    size="large"
    color="#00b5eb"
    type="ball-pulse"
    loadingText="Загрузка закупки"
  ></ngx-spinner>

  <div *ngIf="purchaseInfo">
    <ngb-alert [dismissible]="false" *ngIf="!isPaymentApproved && isParticipant">
      Ваш платеж еще не подтвержден организатором
    </ngb-alert>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <img class="card-img-top good-img" [src]="purchaseInfo.picture" alt="Card image cap">
            <div class="good-img-container" *ngIf="isCreator">
              <div class="base-good-img-overlay">
              </div>
              <label class="good-img-overlay">
                <img class="camera" src="assets/img/camera.png">
                <input type="file" (change)="purchaseImageChange($event)" style="display: none;"
                       accept=".png,.jpg,.jpeg">
              </label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title" *ngIf="!editMode.name">
              {{ purchaseInfo.name }}
              <label *ngIf="isCreator" (click)="editMode.name = true" class="btn-edit"
              >изменить</label>
            </h3>
            <div *ngIf="editMode.name" class="form-group">
              <label for="name">Название закупки</label>
              <input id="name" type="text" [(ngModel)]="editModeInfo.name" class="form-control text-good card-title">
              <button type="button" class="btn btn-main" (click)="updateName()">Обновить</button>
            </div>

            <h5>
              {{ purchaseInfo.price_per_unit | fixedFloat: 2 }} ₽/{{ measurementUnit }}
            </h5>

            <h5 *ngIf="!editMode.volume">
              Количество товара: {{ purchaseInfo.volume }} {{ measurementUnit }}
              <label *ngIf="isCreator" (click)="editMode.volume = true" class="btn-edit">
                изменить
              </label>
            </h5>
            <div *ngIf="editMode.volume" class="form-group">
              <label for="volume">Количество товара</label>
              <input
                id="volume"
                type="text"
                [(ngModel)]="editModeInfo.volume"
                class="form-control text-good card-title"
                [dropSpecialCharacters]="false"
                mask="0*.0*"
              >
              <button type="button" class="btn btn-main" (click)="updateVolume()">Обновить</button>
            </div>

            <h5>
              Минимальный объем заказа: {{ purchaseInfo.min_volume }} {{ measurementUnit }}
            </h5>

            <h5>
              Заказано: {{ totalOrderedVolume }} {{ measurementUnit }}
            </h5>

            <h5>
              Осталось: {{ purchaseInfo.remaining_volume }} {{ measurementUnit }}
            </h5>

            <h5>
              Прием заказов завершается: {{ purchaseInfo.date | russianLocaleDate }}
            </h5>

            <p class="card-text" *ngIf="!isParticipant && isOpened && isLoggedIn">
              <button class="btn btn-main" (click)="joinToPurchase()" *ngIf="haveEnoughRemainingVolume">
                Присоединится к закупке
              </button>
              <span *ngIf="!haveEnoughRemainingVolume" class="text-danger">
                <b>Товара осталось недостаточно для минимального заказа</b>
              </span>
            </p>
            <p class="card-text text-danger" *ngIf="!isParticipant && isCollected">
              Прием заказов завершен
            </p>
            <p class="card-text text-danger" *ngIf="!isParticipant && isClosed">
              Закупка закрыта
            </p>
            <p class="card-text" *ngIf="isParticipant">
              <button class="btn btn-detach" (click)="detachFromPurchase()">
                Отказаться от участия
              </button>
            </p>
            <div *ngIf="purchaseInfo" class="card-text">
              <div *ngIf="!editMode.category">
                Категория: {{ purchaseInfo.category.name }}
                <label *ngIf="isCreator" (click)="editMode.category = true" class="btn-edit">
                  изменить
                </label>
              </div>
              <div *ngIf="editMode.category" class="form-group">
                <label for="category">Категория</label>
                <app-good-category-chooser id="category" [category]="editModeInfo.category"
                                           (categoryChanged)="updateCategory($event)">
                </app-good-category-chooser>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row additional">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="tab01">
              <!-- Nav tabs -->
              <ul class="nav nav-tabs">
                <li class="nav-item p-b-10">
                  <a class="nav-link tabs" [class.active]="additionalTabPane === 'description'" data-toggle="tab"
                     (click)="additionalTabPane = 'description'"
                     role="tab">Описание</a>
                </li>

                <li class="nav-item p-b-10" *ngIf="isCreator">
                  <a class="nav-link tabs" [class.active]="additionalTabPane === 'participants'" data-toggle="tab"
                     (click)="additionalTabPane = 'participants'"
                     role="tab">Участники</a>
                </li>

                <li class="nav-item p-b-10">
                  <a class="nav-link tabs" [class.active]="additionalTabPane === 'history'" data-toggle="tab"
                     (click)="additionalTabPane = 'history'"
                     role="tab">История изменений</a>
                </li>
              </ul>

              <div class="tab-content p-t-43" *ngIf="additionalTabPane === 'description'">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <h5>О закупке
                      <label *ngIf="isCreator && !editMode.description" (click)="editMode.description = true" class="btn-edit">
                      изменить
                      </label>
                    </h5>
                    <div *ngIf="!editMode.description">
                      <div *ngIf="purchaseInfo.description" class="preserve-line-breaks"
                      >{{purchaseInfo.description}}</div>
                    </div>
                    <div *ngIf="editMode.description" class="form-group">
                      <textarea
                        id="description"
                        class="form-control card-title"
                        [(ngModel)]="editModeInfo.description"
                      ></textarea>
                      <button type="button" class="btn btn-main" (click)="updateDescription()">Обновить</button>
                    </div>
                    <h5>
                      Адрес места выдачи товара
                    </h5>
                    <p>{{purchaseInfo.address}}</p>
                  </div>

                  <div class="col-12 col-md-6">
                    <h5>Сведения об организаторе</h5>
                    <p>
                      Пользователь: {{purchaseInfo.creator.login}}<br>
                      <button
                        type="button"
                        class="btn btn-main"
                        (click)="openChatWithCreator()"
                      >
                        Связаться по чату <i class="fa fa-comment"></i>
                      </button>
                    </p>
                    <div>
                      <b>Платежные данные
                        <label
                          *ngIf="isCreator && !editMode.payment_type"
                          (click)="editMode.payment_type = true"
                          class="btn-edit"
                        >изменить</label>
                      </b><br>
                      <div *ngIf="!editMode.payment_type">
                        <span *ngIf="purchaseInfo.payment_type === 0">
                          Перевод денежных средств осуществляется через сайт
                        </span>
                          <span *ngIf="purchaseInfo.payment_type === 1">
                          Денежные средства переводятся напрямую организатору.<br>
                            <span *ngIf="isParticipant || isCreator"
                            >Платежная информация:<br>
                              <span class="preserve-line-breaks">{{purchaseInfo.payment_info}}</span>
                            </span>
                        </span>
                          <span *ngIf="purchaseInfo.payment_type === 2">
                          Оплата производится в момент выдачи товара
                        </span>
                      </div>
                      <div *ngIf="editMode.payment_type" class="form-group">
                        <label for="payment_type">Способ оплаты</label>
                        <select
                          id="payment_type"
                          class="custom-select"
                          [(ngModel)]="editModeInfo.payment_type"
                        >
                          <option [ngValue]="0" disabled>Через сайт</option>
                          <option [ngValue]="1">Напрямую организатору</option>
                          <option [ngValue]="2">В момент выдачи товара</option>
                        </select>
                        <div *ngIf="editModeInfo.payment_type === 1">
                          <label for="payment_info">Платежная информация</label>
                          <textarea
                            id="payment_info"
                            [(ngModel)]="editModeInfo.payment_info"
                            class="form-control card-title"
                          ></textarea>
                        </div>
                        <button type="button" class="btn btn-main" (click)="updatePaymentType()">Обновить</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-content p-t-43" *ngIf="additionalTabPane === 'participants'">
                <div *ngIf="participants">
                  <div class="list-group">
                    <div class="list-group-item" *ngFor="let participant of participants; let i = index">
                      <div class="row">
                        <div class="col-12 col-md-3">
                          {{ participant.user.login }}
                        </div>
                        <div class="col-12 col-md-3">
                          {{ participant.volume }} {{ measurementUnit }}
                          ({{ participant.cost | fixedFloat: 2 }} ₽)
                        </div>
                        <div class="col-12 col-md-4">
                          <div class="custom-control custom-checkbox">
                            <input
                              #userPayment
                              type="checkbox"
                              class="custom-control-input"
                              id="userPayment_{{i}}"
                              [checked]="participant.paid"
                              (change)="updatePaymentState(participant.user._id, userPayment.checked)"
                            >
                            <label class="custom-control-label" for="userPayment_{{i}}"
                            >Платеж подтвержден</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input
                              #userSent
                              id="userSent_{{i}}"
                              type="checkbox"
                              class="custom-control-input"
                              [checked]="participant.sent"
                              (change)="updateOrderSentState(participant.user._id, userSent.checked)"
                            >
                            <label class="custom-control-label" for="userSent_{{i}}"
                            >Товар отправлен</label>
                          </div>
                          <div class="custom-control custom-checkbox">
                            <input
                              id="userDelivered_{{i}}"
                              type="checkbox"
                              class="custom-control-input"
                              disabled
                              [checked]="participant.delivered"
                            >
                            <label class="custom-control-label" for="userDelivered_{{i}}"
                            >Товар доставлен</label>
                          </div>
                        </div>
                        <div class="col-12 col-md-2">
                          <button
                            type="button"
                            class="btn btn-main"
                            (click)="openChatWithParticipant(participant.user._id)"
                            ngbPopover="Связаться по чату"
                            triggers="mouseenter:mouseleave"
                          >
                            <i class="fa fa-comment"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="!purchaseInfo.participants">
                  <p>К закупке еще никто не присоединился</p>
                </div>
              </div>

              <div class="tab-content p-t-43" *ngIf="additionalTabPane === 'history'">
                <div *ngIf="history">
                  <div class="list-group">
                    <div class="list-group-item" *ngFor="let item of visibleHistory">
                      <h5>{{ item.date | date:'dd.MM.yyyy HH:mm' }}</h5>
                      <p>
                        <span
                          *ngFor="let block of item.blocks"
                          [ngClass]="{'font-weight-bold': block.bold}"
                        >{{block.text}}</span>
                      </p>
                    </div>
                    <button
                      type="button"
                      class="btn btn-main ml-auto mr-auto mt-2"
                      *ngIf="visibleHistoryLength < history.length"
                      (click)="showMoreHistoryItems()"
                    >Показать еще</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="isCreator">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              Управление закупкой
            </h4>
            <div ngbDropdown class="d-inline-block">
              <button
                class="btn btn-main"
                id="purchaseState"
                ngbDropdownToggle
                ngbPopover="Изменить состояние закупки"
                triggers="mouseenter:mouseleave"
                [disabled]="editModeInfo.state === 2"
              >Состояние закупки
              </button>
              <div ngbDropdownMenu aria-labelledby="purchaseState">
                <button
                  class="dropdown-item"
                  *ngIf="editModeInfo.state < 1"
                  (click)="updateState(1)"
                >Завершить прием заказов
                </button>
                <button
                  class="dropdown-item"
                  *ngIf="editModeInfo.state < 2"
                  (click)="updateState(2)"
                >Закрыть закупку
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
