<!--<div class="container">-->
<!--<h4>Информация о магазине</h4>-->
<!--<app-message></app-message>-->
<!--<p>-->
<!--Ссылка: http://versla.store/{{ storeSettings.link }}-->
<!--</p>-->
<!--<div class="form-group">-->
<!--<label class="form-control-label">Название</label>-->
<!--<input type="text" name="name" class="form-control text-settings" [(ngModel)]="storeSettings.link">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="form-control-label">Короткое описание</label>-->
<!--<input type="text" name="short_description" class="form-control text-settings" [(ngModel)]="storeSettings.short_description">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label class="form-control-label">Описание</label>-->
<!--<input type="text" name="description" class="form-control text-settings" [(ngModel)]="storeSettings.description">-->
<!--</div>-->

<!--<hr>-->
<!--<button type="button" class="btn btn-main" (click)="update()">Обновить</button>-->
<!--</div>-->
