<div *ngIf="orders.length === 0">
  <div class="text-center">
    <h5>У вас еще нет заказов</h5>
    <img height="100px" src="assets/img/box.svg" />
  </div>
</div>
<ul *ngIf="orders.length !== 0" class="list-group">


  <li
    class="list-group-item"
    *ngFor="let order of orders"
  >

    <div class="d-flex justify-content-start">
      <div class="good-logo">
        <a [routerLink]="['/good', order.good._id]">
          <img [src]="order.good.picture" class="store-img">
        </a>
      </div>

      <div class="desc-good d-flex flex-column">
        <a class="links" style="margin-right: 10px;" [routerLink]="['/good', order.good._id]">
          <h5>{{ order.good.name }}</h5>
        </a>

        <p>Кол-во: {{ order.quantity | fixedFloat: 0 }}</p>
        <p>Цена: {{order.price * order.quantity}} ₽</p>

        <div *ngIf="order.status === 0" class="d-inline-block">
          <p>Статус<span class="badge badge-primary ml-2">в процессе</span></p>
          <button
            type="button"
            class="btn btn-main mb-2"
            (click)="updateOrderStatus(order._id)"
          >Товар доставлен</button>
        </div>
        <div *ngIf="order.status === 1">
          <p>Статус<span class="badge badge-warning ml-2">в ожиаднии подтверждения</span></p>
        </div>
        <div *ngIf="order.status === 2">
          <p>Статус<span class="badge badge-success ml-2">товар получен</span></p>
        </div>
      </div>
    </div>

    <div class="buyer">
      <img [src]="order.user.picture">
      <span class="info">
        <p *ngIf="order.user.first_name"><b>{{order.user.first_name}} {{order.user.last_name}}</b></p>
        <p>Email: {{ order.user.email }}</p>
        <p>Телефон: {{ order.user.phone }} </p>
      </span>
    </div>
  </li>

</ul>
