<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="items-fluid" *ngIf="cart.cart">


            <div class="card" style="width: 18rem"
              *ngFor="let item of cart.cart"
              [class.good-unavailable]="!item.good.is_available"
            >
              <a class="img-holder" [routerLink]="['/good', item.good._id]">
                <img class="card-img-top" [src]="item.good.picture" alt="Card image cap">
              </a>
              <div class="card-body">
                <div [ngbCollapse]="collapsed[item._id]">
                  <app-item-params
                    [item]="item"
                    [readonly]="false"
                  ></app-item-params>
                </div>
                <div>
                  <a routerLink="/good/{{ item.good._id }}">{{ item.good.name }}</a>
                </div>
                <div class="card-price">
                  {{ item.good.price | fixedFloat: 2 }} ₽
                </div>
                <div>
                  {{ item.good.is_available ? 'Доступен': 'Не доступен'}}
                </div>
                <div class="d-flex justify-content-sm-between">
                  <app-integer-counter
                    [initial]="item.quantity"
                    [itemId]="item._id"
                    [minimal]="1"
                    (onCounterChange)="onQuantityChange($event)"
                  ></app-integer-counter>
                  <div>
                    <button class="btn btn-sm btn-danger" (click)="deleteItem(item._id)"><i class="fa fa-trash"></i>
                    </button>
                  </div>
                </div>
                <a
                  [routerLink]=""
                  (click)="collapsed[item._id] = !collapsed[item._id]"
                >
                  Параметры <!--{{collapsed[item._id] ? '⮝' : '⮟'}}-->
                </a>
              </div>
            </div>
          </div>
          <div class="pull-right">Подытог: {{ summary | fixedFloat: 2 }} ₽</div>

        </div>
        <div class="col mb-2">
          <div>
            <button class="checkout-right btn btn-success" (click)="createOrder()">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
