<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped" *ngIf="cart">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Товар</th>
                <th scope="col">Доступность</th>
                <th scope="col" class="text-center">Количество</th>
                <th scope="col" class="text-right">Цена</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let good of cart">
                <td><img [src]="good.picture"/></td>
                <td>{{ good.name }}</td>
                <td>Доступен</td>
                <td><input class="form-control" type="text" value="1"/></td>
                <td class="text-right">{{ good.price | fixedFloat: 2 }} ₽</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-danger" (click)="deleteGood(good.good_id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <!--<tr>-->
                <!--<td><img src="https://dummyimage.com/50x50/55595c/fff"/></td>-->
                <!--<td>Product Name</td>-->
                <!--<td>Доступен</td>-->
                <!--<td><input class="form-control" type="text" value="1"/></td>-->
                <!--<td class="text-right">33,90 ₽</td>-->
                <!--<td class="text-right">-->
                  <!--<button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>-->
                <!--</td>-->
              <!--</tr>-->
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Подитог</td>
                <td class="text-right">{{ summary | fixedFloat: 2 }} ₽</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Доставка</td>
                <td class="text-right">{{ delivery }} ₽</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Итог</strong></td>
                <td class="text-right"><strong>{{summary + delivery | fixedFloat: 2 }} ₽</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col mb-2">
          <div>
            <button class="checkout-right btn btn-success">Оформить заказ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
