<div class="modal-header">
  <h4 class="modal-title">Добавить новый магазин</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="name">Название магазина</label>
    <input type="name" name="name" id="name" class="form-control text-modal" placeholder="Введите название магазина"
           [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="link">Короткая ссылка</label>
    <input type="link" name="link" id="link" maxlength="10" class="form-control text-modal"
           placeholder="Введите короткую ссылку" [(ngModel)]="link">
  </div>

</div>
<div class="modal-footer">
  <button class="btn-main" (click)="createStore()">
    Добавить
  </button>
</div>
