<div class="modal-header">
  <h4 class="modal-title">Добавить новый магазин</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="name">Название магазина</label>
    <input type="name" name="name" id="name" class="form-control text-modal" placeholder="Введите название магазина"
           [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="link">Короткая ссылка</label>
    <input type="link" name="link" id="link" maxlength="10" class="form-control text-modal"
           placeholder="Введите короткую ссылку" [(ngModel)]="link">
  </div>

  <div class="form-group">
    <label for="city">Выберите город</label>
    <app-city-chooser id="city" [(ngModel)]="city"></app-city-chooser>
  </div>

  <div class="form-group">
    <label for="goods_type">Выберите тип товара</label>
    <br>
    <div
      id="goods_type"
      class="btn-group btn-group-toggle"
      ngbRadioGroup
      [(ngModel)]="goods_type">
      <label ngbButtonLabel class="btn btn-primary active">
        <input ngbButton type="radio" value="retail">Розничный
      </label>
      <label ngbButtonLabel class="btn btn-primary">
        <input ngbButton type="radio" value="wholesale">Оптовый
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="resident_type">Кто вы?</label>
    <br>
    <div
      id="resident_type"
      class="btn-group btn-group-toggle"
      ngbRadioGroup
      [(ngModel)]="resident_type">
      <label ngbButtonLabel class="btn btn-primary active">
        <input ngbButton type="radio" value="individual">Физическое лицо
      </label>
      <label ngbButtonLabel class="btn btn-primary">
        <input ngbButton type="radio" value="entity">Юридическое лицо
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="tax_num">ИНН</label>
    <input
      type="text"
      name="tax_num"
      id="tax_num"
      class="form-control text-modal"
      placeholder="Введите ИНН"
      mask="0*"
      [maxlength]="resident_type === 'entity' ? 10 : 12"
      [(ngModel)]="tax_num">
  </div>

  <div
    *ngIf="resident_type === 'entity'"
    class="form-group"
  >
    <label for="state_num">ОГРН</label>
    <input
      type="text"
      name="state_num"
      id="state_num"
      class="form-control text-modal"
      placeholder="Введите ОГРН"
      mask="0*"
      maxlength="13"
      [(ngModel)]="state_num">
  </div>

  <div class="form-group">
    <label for="bank_type">Тип счета</label>
    <br>
    <div
      id="bank_type"
      class="btn-group btn-group-toggle"
      ngbRadioGroup
      [(ngModel)]="bank_type">
      <label ngbButtonLabel class="btn btn-primary active">
        <input ngbButton type="radio" value="card">Банковская карта
      </label>
      <label ngbButtonLabel class="btn btn-primary">
        <input ngbButton type="radio" value="num">Номер счета
      </label>
    </div>
  </div>

  <div class="form-group">
    <label for="bank_num">№ {{bank_type === 'card' ? 'карты' : 'счета'}}</label>
    <input
      type="text"
      name="bank_num"
      id="bank_num"
      class="form-control text-modal"
      mask="0*"
      [maxlength]="bank_type === 'card' ? 16 : 20"
      [(ngModel)]="bank_num">
  </div>

</div>
<div class="modal-footer">
  <button class="btn-main" (click)="createStore()">
    Добавить
  </button>
</div>
