<header class="storehead" [class.storebackground]="info.background" [class.storehead]="!info.background"
        [style.backgroundImage]="info.background ? 'url('+ info.background +')' : 'url(../../../assets/img/bg.png)'">
  <div class="storeoverlay">
    <ngx-loading [show]="editMode.logo"></ngx-loading>
    <ngx-loading [show]="editMode.background"></ngx-loading>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <div class="pull-right">
          <div *ngIf="info.background">
            <label class="form-control-label"></label>
            <label
              class="btn btn-store-edit"
              *ngIf="isCreator"
            >
              Изменить фоновое изображение
              <input type="file" (change)="backgroundChange($event)" style="display: none;" accept=".png,.jpg,.jpeg"
                     [disabled]="editMode.background">
            </label>
            <label
              class="btn btn-store-edit"
              (click)="deleteBackground()"
              *ngIf="isCreator"
            >
              Удалить фоновое изображение
            </label>
          </div>
          <div *ngIf="!info.background">
            <label
              class="btn btn-store-edit"
              *ngIf="isCreator"
            >
              Добавить фоновое изображение
              <input type="file" (change)="backgroundChange($event)" style="display: none;" accept=".png,.jpg,.jpeg">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="storeinfo">
          <div *ngIf="info.logo">
            <label
              class="btn btn-store-edit"
              *ngIf="isCreator"
            >
              Изменить
              <input type="file" (change)="logoChange($event)" style="display: none;" accept=".png,.jpg,.jpeg"
                     [disabled]="editMode.logo">
            </label>
            <label
              class="btn btn-store-edit"
              (click)="deleteLogo()"

              *ngIf="isCreator"
            >
              Удалить
            </label>
          </div>
          <div *ngIf="!info.logo">
            <label
              class="btn btn-store-edit"
              *ngIf="isCreator"
            >
              Добавить логотип
              <input type="file" (change)="logoChange($event)" style="display: none;" accept=".png,.jpg,.jpeg">
            </label>

          </div>
          <img *ngIf="!info.logo" src="assets/img/shop.svg" class="image" height="150px">
          <img *ngIf="info.logo" [src]="info.logo" class="image" height="200px">
        </div>
      </div>
      <div class="col-md-9">
        <div class="storeinfo">
          <div *ngIf="!editMode.name">
            <label class="btn btn-store-edit" (click)="editMode.name = true" *ngIf="isCreator">Изменить
            </label>
            <h1>{{info.name}}</h1>
          </div>
          <div *ngIf="editMode.name">
            <label class="btn btn-store-edit" (click)="updateStoreName()" *ngIf="isCreator">Обновить
            </label>
            <input type="text" name="store_name" class="form-control text-edit-store-name" [(ngModel)]="info.name">
          </div>
          <div>
            <div *ngIf="editMode.short_description">
              <label class="btn btn-store-edit" (click)="updateShortDescription()" *ngIf="isCreator">
                Обновить
              </label>
              <textarea rows="2" cols="200" name="short_description" style="width:100%;"
                        class="form-control text-edit-short-description"
                        [(ngModel)]="info.short_description"></textarea>
            </div>
            <div *ngIf="!editMode.short_description">
              <div *ngIf="!info.short_description">
                <button type="button" class="btn btn-store-edit" *ngIf="isCreator"
                        (click)="editMode.short_description = true">
                  Добавить краткое описание
                </button>
              </div>
              <div *ngIf="info.short_description">
                <button type="button" class="btn btn-store-edit" *ngIf="isCreator"
                        (click)="editMode.short_description = true">
                  Изменить
                </button>
                <h5 class="shortdescriptiontext">{{info.short_description}}</h5>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</header>
<div class="container">
  <tag-input
    [(ngModel)]="info.tags"
    [disable]="!isCreator"
    [theme]="'foundation-theme'"
    secondaryPlaceholder="Введите новый тег"
    placeholder="Еще один тег"
    (onAdd)="onTagAdded($event)"
    (onRemove)="onTagRemoved($event)"
  ></tag-input>
</div>
<section class="features-icons text-center bg-gray">
  <div class="container">
    <div><h2 class="mb-5 title">О нас </h2><label
      class="btn-edit"
      (click)="editMode.description = true"
      *ngIf="isCreator && info.description"
    >
      редактировать
    </label> <label
      class="btn-edit"
      (click)="editMode.description = true"
      *ngIf="isCreator && !info.description"
    >
      Добавить подробное описание
    </label>
    </div>
    <div class="row">
      <div *ngIf="!editMode.description">
        <p *ngIf="info.description">{{info.description}}</p>
        <p *ngIf="!info.description">Подробное описание еще не добавлено</p>
      </div>
      <div *ngIf="editMode.description">
        <textarea style="width:100%" rows="5" cols="200" type="text" name="short_description"
                  class="form-control text-settings"
                  [(ngModel)]="info.description"></textarea>
      </div>
      <button *ngIf="editMode.description" type="button" class="btn btn-main" (click)="updateDescription()">Обновить
      </button>
    </div>
  </div>
</section>

<!-- Icons Grid -->
<section class="features-icons">
  <div class="container">
    <div class="text-center">
      <h2 class="title mb-5">
        Товары
      </h2>
      <label (click)="openAddGood()" class="btn-edit" *ngIf="isCreator">добавить</label>
    </div>
    <div class="row">
      <div class="d-flex justify-content-center" *ngIf="this.goods.length === 0">
          <div >
            <h5>Товары еще не добавлены</h5>
            <img height="100px" src="assets/img/box.svg"/>
          </div>
      </div>
      <div *ngFor="let good of this.goods" class="col-lg-4 col-xs-6 good">
        <div class="card" style="width: 18rem;">
          <app-good-card [good]="good" (onGoodDeleted)="onGoodDeleted($event)"></app-good-card>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="features-icons bg-gray">
  <div class="container">
    <h2 class="mb-5 text-center">Контактные лица</h2>
    <div class="row add-user-element">
      <div class="col-xl-12">
        <div class="input-group" *ngIf="isCreator">
          <input type="text" name="newUser" class="form-control text-user" [(ngModel)]="new_user_login"
                 placeholder="Name" id="name"/>
          <div class="input-group-append">
            <button class="btn btn-main" type="button" (click)="addNewUserByLogin()" [disabled]="!new_user_login">Add
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12" *ngIf="this.info.contact_faces">
        <ul *ngIf="this.info.contact_faces[0]" class="list-group">
          <li *ngFor="let face of this.info.contact_faces" class="list-group-item">
            <div class="face">
              <div class="face-title">
                {{face.name}}
              </div>
            </div>
            <div class="face-delete" *ngIf="isCreator">
              <button class="btn btn-danger" (click)="deleteFace(face.id)" type="button">Удалить</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="features-icons container-map">
  <div class="container-map container-fluid">
    <div class="row">
      <div class="col-md-6 contacts">
        <h2 class="mb-5 contact-title">Контакты</h2>
        <div>
          <div>
            <div class="icon"><i class="fa fa-phone"></i></div>
            <div class="contact-text">8 (800) 555 35 35</div>

          </div>
        </div>
        <!-- /contact -->

        <!-- contact -->
        <div>
          <div class="contact">
            <i class="fa fa-envelope"></i> contact@terminal11.ru


          </div>
        </div>
        <!-- /contact -->

        <!-- contact -->
        <div>
          <div class="contact">
            <i class="fa fa-map-marker"></i> ул. Пушкина 18


          </div>
        </div>
        <button *ngIf="isCreator" type="button" class="btn btn-main" (click)="openEditStoreCredentials()">Редактировать
          данные
        </button>
      </div>
      <div class="col-md-6">
        <div *ngIf="!editMode.location">
          <button
            type="button"
            class="btn btn-edit"
            (click)="editMode.location = true"
            *ngIf="isCreator"
          >
            Изменить
          </button>
        </div>
        <div *ngIf="editMode.location">
          <div class="input-group offset-1 col-md-10">
            <ng4geo-autocomplete
              class="w-75"
              [userSettings]="{
            showSearchButton: false
          }"
              (componentCallback)="addressChanged($event)"
            ></ng4geo-autocomplete>
            <div class="input-group-append">
              <button
                type="button"
                style="height: 50px;"
                class="btn btn-main"
                (click)="updateLocation()"
              >
                Обновить
              </button>
            </div>
          </div>
        </div>
        <agm-map [latitude]="this.location.lat || 55" [longitude]="this.location.lng || 49" class="map">
          <agm-marker [latitude]="this.location.lat || 55" [longitude]="this.location.lng || 49"></agm-marker>
        </agm-map>
      </div>
    </div>
  </div>
</section>

