<div class="modal-header">
  <h4 class="modal-title">Создать совместную закупку</h4>
  <button type="button" class="close" aria-label="Close"
          (click)="dismiss()"><span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <label for="name">Название закупки</label>
        <input
          type="text"
          id="name"
          class="form-control text-modal"
          placeholder="Введите название закупки"
          [(ngModel)]="name"
        >
      </div>
      <div class="form-group">
        <label>Изображение</label><br>
        <div *ngIf="!pictureUrl">
          <label
            class="btn btn-main"
            *ngIf="!pictureUrl"
          >
            Добавить изображение
            <input
              id="picture"
              type="file"
              [(ngModel)]="picturePath"
              (change)="imageChange($event)"
              style="display: none;"
              accept=".png,.jpg,.jpeg"
            >
          </label><br>
        </div>
        <div class="picture-preview-container" *ngIf="pictureUrl">
          <img [src]="pictureUrl" class="picture-preview-image">
          <label
            class="picture-preview-button"
            (click)="deleteImage()"
          ><span aria-hidden="true">X</span>
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Описание закупки</label>
        <input
          type="text"
          id="description"
          class="form-control text-modal"
          placeholder="Введите описание закупки"
          [(ngModel)]="description"
        >
      </div>
      <div class="form-group">
        <label for="address">Адрес</label>
        <input
          type="text"
          id="address"
          class="form-control text-modal"
          placeholder="Адрес"
          [(ngModel)]="address"
        >
      </div>
      <div class="form-group">
        <label for="date">Дата завершения закупки</label>
        <div class="input-group">
          <input
            id="date"
            class="form-control"
            placeholder="гггг-мм-дд"
            readonly
            [(ngModel)]="date"
            ngbDatepicker
            #d="ngbDatepicker"
          >
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary"
              (click)="d.toggle()"
              type="button"
              ngbPopover="Выбрать дату"
              triggers="mouseenter:mouseleave"
            >
              <i class="fa fa-calendar"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="payment_type">Способ оплаты</label>
        <select
          id="payment_type"
          class="custom-select"
          [(ngModel)]="paymentType"
        >
          <option [ngValue]="0" disabled>Через сайт</option>
          <option [ngValue]="1">На карту организатору</option>
          <option [ngValue]="2">В момент выдачи товара</option>
        </select>
      </div>
      <div class="form-group" *ngIf="paymentType === 1">
        <label for="payment_info">Номер банковской карты</label>
        <input
          type="text"
          id="payment_info"
          mask="0000 0000 0000 0000"
          class="form-control text-modal"
          placeholder="0000 0000 0000 0000"
          [(ngModel)]="paymentInfo"
        >
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="form-group">
        <label for="category">Категория товара</label>
        <app-good-category-chooser
          id="category"
          [category]="category"
          (categoryChanged)="updateCategory($event)"
        ></app-good-category-chooser>
      </div>
      <div class="form-group">
        <label for="volume">Количество товара</label>
        <div class="input-group">
          <input
            type="text"
            [dropSpecialCharacters]="false"
            mask="0*.00"
            name="volume"
            id="volume"
            class="form-control text-modal"
            placeholder="100"
            [(ngModel)]="volume"
          >
        </div>
      </div>
      <div class="form-group">
        <label for="minVolume">Минимальный объем заказа</label>
        <div class="input-group">
          <input
            type="text"
            [dropSpecialCharacters]="false"
            mask="0*.00"
            name="minVolume"
            id="minVolume"
            class="form-control text-modal"
            placeholder="0"
            [(ngModel)]="minVolume"
          >
        </div>
      </div>
      <div class="form-group">
        <label for="measurement_unit">Единица измерения</label>
        <app-measurement-unit-chooser
          id="measurement_unit"
          [unit]="measurementUnit"
          (unitChanged)="updateUnit($event)"
        ></app-measurement-unit-chooser>
      </div>
      <div class="form-group">
        <label for="price">Цена за единицу товара</label>
        <div class="input-group">
          <input
            type="text"
            [dropSpecialCharacters]="false"
            mask="0*.00"
            id="price"
            class="form-control text-modal"
            placeholder="10"
            [(ngModel)]="pricePerUnit"
          >
          <div class="input-group-append">
            <span class="input-group-text">Итого: </span>
            <span class="input-group-text">{{ total | fixedFloat: 2 }} ₽</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    class="btn-main"
    (click)="createPurchase()"
  >
    Создать
  </button>
</div>
