<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="data.user" class="card" style="width: 18rem;">

                    <img class="card-img-top" [src]="data.user.avatar_url">
                    <div class="card-body">
                        <div class="user-info">
                            <h5 class="card-title">{{ data.user.first_name }} {{ data.user.last_name }}</h5>
                        </div>

                        <hr>
                        <div class="user-info">E-mail: {{ data.user.email }}</div>
                        <hr>
                        <div class="user-info">Телефон: {{ data.user.phone }}</div>
                        <hr>
                        <ul>
                            <li [class.selected]="isTabSet(1)" (click)="setTab(1)" routerLink="orders">
                                Мои заказы
                            </li>
                            <li [class.selected]="isTabSet(2)" (click)="setTab(2)" routerLink="settings">
                                Настройки профиля
                            </li>
                            <li [class.selected]="isTabSet(3)" (click)="setTab(3)" routerLink="security">
                                Настройки безопасности
                            </li>
                            <li [class.selected]="isTabSet(4)" (click)="setTab(4)" routerLink="address">
                                Адрес доставки
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>