<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="data.user" class="card" style="width: 18rem;">

                    <img class="card-img-top" [src]="data.user.avatar_url">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.user.first_name }} {{ data.user.last_name }}</h5>
                        <hr> E-mail: {{ data.user.email }}
                        <hr> Phone: {{ data.user.phone }}
                        <hr>
                        <ul>
                            <li [class.selected]="isTabSet(1)">
                                <a (click)="setTab(1)" routerLink="orders">Мои заказы</a>
                            </li>
                            <li [class.selected]="isTabSet(2)">
                                <a (click)="setTab(2)" routerLink="settings">Настройки профиля</a>
                            </li>
                            <li [class.selected]="isTabSet(3)">
                                <a (click)="setTab(3)" routerLink="security">Настройки безопасности</a>
                            </li>
                            <li [class.selected]="isTabSet(4)">
                                <a (click)="setTab(4)" routerLink="address">Адрес доставки</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</section>