<section id="profile">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div *ngIf="data.user" class="card" style="width: 18rem;">

                    <img class="card-img-top" [src]="data.user.avatar_url">
                    <div class="card-body">
                        <h5 class="card-title">{{ data.user.first_name }} {{ data.user.last_name }}</h5>
                        <ngb-tabset type="pills" [orientation]="currentOrientation">
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <div (click)="openOrders()">Заказы</div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <div (click)="openProfileSettings()">Настройки профиля</div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <div (click)="openSecuritySettings()">Настройки безопасности</div>
                                </ng-template>
                            </ngb-tab>
                            <ngb-tab>
                                <ng-template ngbTabTitle>
                                    <div (click)="openAddressSettings()">Адрес доставки</div>
                                </ng-template>
                            </ngb-tab>
                        </ngb-tabset>

                    </div>
                </div>
            </div>
            <div class="col-md-8">

                <app-orders [hidden]="ordersHidden"></app-orders>
                <app-settings [hidden]="profileSettingsHidden"></app-settings>
                <app-security [hidden]="securityHidden"></app-security>
                <app-address [hidden]="addressHidden"></app-address>
            </div>
        </div>
    </div>
</section>