<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table table-striped" *ngIf="cart.cart">
              <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Товар</th>
                <th scope="col">Доступность</th>
                <th scope="col" class="text-center">Количество</th>
                <th scope="col" class="text-right">Цена</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let item of cart.cart"
                [class.good-unavailable]="!item.good.is_available"
              >
                <td><img [src]="item.good.picture" height="100px" /></td>
                <td><a routerLink="/good/{{ item.good._id }}">{{ item.good.name }}</a></td>
                <td>{{ item.good.is_available ? 'Доступен': 'Не доступен'}}</td>
                <td class="text-center">{{ item.quantity }}</td>
                <td class="text-right">{{ item.good.price | fixedFloat: 2 }} ₽</td>
                <td class="text-right">
                  <button class="btn btn-sm btn-danger" (click)="deleteItem(item._id)"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Доставка</td>
                <td class="text-right">{{ delivery | fixedFloat: 2 }} ₽</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Итог</strong></td>
                <td class="text-right"><strong>{{summary + delivery | fixedFloat: 2 }} ₽</strong></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col mb-2">
          <div>
            <button class="checkout-right btn btn-success" (click)="confirmOrder()">Подтвердить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
