<div class="container mb-4">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let item of cart.cart"
                [class.good-unavailable]="!item.good.is_available">
              <div class="d-inline-block">
                <div class="d-flex justify-content-start">
                  <div class="good-logo">
                    <a [routerLink]="['/good', item.good._id]">
                      <img [src]="item.good.picture" class="store-img">
                    </a>
                  </div>

                  <div class="desc-good d-flex flex-column">
                    <a class="links" style="margin-right: 10px;" [routerLink]="['/good', item.good._id]">
                      <h5>{{ item.good.name }}</h5>
                    </a>

                    <div class="card-price">
                      {{ item.good.price | fixedFloat: 2 }} ₽
                    </div>
                    <div>
                      {{ item.good.is_available ? 'Доступен': 'Не доступен'}}
                    </div>
                    <a
                      [routerLink]=""
                      class="links"
                      (click)="collapsed[item._id] = !collapsed[item._id]"
                    >
                      Параметры <!--{{collapsed[item._id] ? '⮝' : '⮟'}}-->
                    </a>
                    <div [ngbCollapse]="collapsed[item._id]">
                      <app-item-params
                        [item]="item"
                        [readonly]="false"
                      ></app-item-params>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-inline-block f-right">
                <div class="d-inline-block">
                  Количество: {{item.quantity}}
                </div>
              </div>
            </li>
          </ul>
          <div class="pull-right">Итог: {{ summary | fixedFloat: 2 }} ₽</div>
        </div>
        <div class="col mb-2">
          <div>
            <button class="checkout-right btn btn-success" (click)="confirmOrder()">Подтвердить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
