<section class="features-icons">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h4>Фильтры</h4>
        <div class="list-group">
          <div class="list-group-item">
            <label for="category">Категории</label>
            <select
              id="category"
              class="custom-select"
              (change)="filterByCategory()"
              [(ngModel)]="selected_category"
            >
              <option *ngFor="let category of categories" [ngValue]="category">
                {{category.name}}
              </option>
            </select>
          </div>
          <div class="list-group-item">
            <label for="city">Город</label>
            <select
              id="city"
              class="custom-select"
              (change)="filterByCity()"
              [(ngModel)]="selected_city"
            >
              <option *ngFor="let city of cities" [ngValue]="city">
                {{city.name}}
              </option>
            </select>
          </div>
          <div class="list-group-item">
            Рейтинг
            <ngb-rating
              [(rate)]="rating"
              [resettable]="true"
              [max]="5"
              (rateChange)="filterByRating()"
            ></ngb-rating>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div *ngIf="noResults">
          <h4 class="mb-5 text-center">Ничего не найдено</h4>
        </div>
        <div *ngIf="!noResults">
          <h4 class="mb-5 text-center">Результаты поиска</h4>

          <ul class="list-group">
            <li *ngFor="let good of goods" class="list-group-item">
              <app-good-list [good]="good"></app-good-list>
            </li>
          </ul>
          <ngb-pagination
            class="d-flex justify-content-center"
            [boundaryLinks]="true"
            [collectionSize]="total"
            [pageSize]="page_size"
            [(page)]="selected_page"
            [maxSize]="5"
            (pageChange)="moveToPage()"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</section>
