<!-- Masthead -->
<header class="masthead">
    <div class="container">
        <div class="row">
            <div class="col-xl-9">
                <h1>Innovations, Revolutions,
                    <br/>Amazing!</h1>
            </div>
            <div class="col-md-10">
                <h5>This is how ProGears will change the world. Again</h5>
            </div>
        </div>
    </div>
</header>

<!-- Icons Grid -->
<section class="features-icons text-center">
    <div class="container">
        <h2 class="mb-5">Покупателям</h2>
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div>
                        <img height="100px" src="assets/img/shopping.svg" />
                    </div>
                    <h3 class="about-text">Все товары
                        <br/> в одном месте</h3>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div>
                        <img height="100px" src="assets/img/pay.svg" />
                    </div>
                    <h3 class="about-text">Платите
                        <br/>в рассрочку</h3>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="truck">
                        <img height="90px" src="assets/img/truck.svg" />
                    </div>
                    <h3 class="about-text">Единая
                        <br/>доставка
                    </h3>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- Icons Grid -->
<section class="features-icons bg-gray">
    <div class="container">
        <h2 class="mb-5 text-center">Товары</h2>
        <div class="row">
            <div class="col-lg-4 col-xs-6 good d-block mx-auto">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/bg-showcase-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-bottom">
                            <div class="card-price">
                                100$
                            </div>

                            <div class="card-icons">
                                <img height="15px" class="card-icon" src="assets/img/cart.svg" />
                                <img height="15px" class="card-icon" src="assets/img/like.svg" />
                                <img height="15px" class="card-icon" src="assets/img/more.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 good">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/bg-showcase-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-bottom">
                            <div class="card-price">
                                100$
                            </div>

                            <div class="card-icons">
                                <img height="15px" class="card-icon" src="assets/img/cart.svg" />
                                <img height="15px" class="card-icon" src="assets/img/like.svg" />
                                <img height="15px" class="card-icon" src="assets/img/more.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 good">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/bg-showcase-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-bottom">
                            <div class="card-price">
                                100$
                            </div>

                            <div class="card-icons">
                                <img height="15px" class="card-icon" src="assets/img/cart.svg" />
                                <img height="15px" class="card-icon" src="assets/img/like.svg" />
                                <img height="15px" class="card-icon" src="assets/img/more.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 good">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/bg-showcase-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-bottom">
                            <div class="card-price">
                                100$
                            </div>

                            <div class="card-icons">
                                <img height="15px" class="card-icon" src="assets/img/cart.svg" />
                                <img height="15px" class="card-icon" src="assets/img/like.svg" />
                                <img height="15px" class="card-icon" src="assets/img/more.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 good">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/bg-showcase-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-bottom">
                            <div class="card-price">
                                100$
                            </div>

                            <div class="card-icons">
                                <img height="15px" class="card-icon" src="assets/img/cart.svg" />
                                <img height="15px" class="card-icon" src="assets/img/like.svg" />
                                <img height="15px" class="card-icon" src="assets/img/more.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-6 good">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/bg-showcase-1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div class="card-bottom">
                            <div class="card-price">
                                100$
                            </div>

                            <div class="card-icons">
                                <img height="15px" class="card-icon" src="assets/img/cart.svg" />
                                <img height="15px" class="card-icon" src="assets/img/like.svg" />
                                <img height="15px" class="card-icon" src="assets/img/more.svg" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Call to Action -->
<section class="call-to-action text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9 mx-auto">
                <h2 class="mb-4 subscribe-text">Подпишитесь сейчас! И узнавайте все самые выгодные предложения</h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-3 col-md-9">


                <div class="input-group">
                    <input type="text" class="text-subscribe" placeholder="Введите Ваш Email" />
                    <button type="button" class="btn btn-search">Подписаться</button>
                </div>

            </div>
        </div>
    </div>
</section>