<div class="modal-header">
    <h4 class="modal-title">Регистрация</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Dismiss click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-message></app-message>
    <div class="form-group">
        <label class="form-control-label">Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="name">
      </div>
      <div class="form-group">
        <label class="form-control-label">Email</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label class="form-control-label">Password</label>
        <input type="password" name="password" class="form-control" [(ngModel)]="password">
      </div>
      <div class="form-group">
        <label class="form-control-label">Confirm Password</label>
        <input type="password" name="password_confirmation" class="form-control" [(ngModel)]="password_confirmation">
      </div>
      <hr>
      <button type="button" class="btn btn-main btn-block" (click)="register()" [disabled]="btnDisabled">Register</button>
  </div>
